{% load staticfiles %}
{% if DEBUG_STATIC %}
<script src="{% static "lib/js/bootstrap-datetimepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "lib/js/bootstrap-treeview.min.js" %}" type="text/javascript"></script>
<script src="{% static "lib/js/bootstrap-tokenfield.js" %}" type="text/javascript"></script>
{% endif %}
<script type="text/javascript">
{% autoescape off %}
    $(function() {
      var pickerOptions = {
          format: 'YYYY-MM-DD hh:mm A',
          pickDate: true,
          pickTime: true,
          language: 'en',
          icons: {
              time: 'fa fa-clock-o',
              date: 'fa fa-calendar',
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down'
          }
      };
      $('#id_resource-date_picker').datetimepicker(pickerOptions);
      $('#id_resource-temporal_extent_start_picker').datetimepicker(pickerOptions);
      $('#id_resource-temporal_extent_end_picker').datetimepicker(pickerOptions);
    });

    $('.modal-forms').css('max-height', '500px').css('overflow-y', 'scroll');    
    $('.modal-cloose-btn').css('margin','20px');

    $('.modal-cloose-btn').click(function(){
      $('.modal-forms').modal('hide');
    });

    $('#id_resource-poc').change(function(){
      if($(this).val() === ''){
        $('#poc_form').modal();
      }
    });

    $('#id_resource-metadata_author').change(function(){
      if($(this).val() === ''){
        $('#metadata_form').modal();
      }
    });

    $(document).ready(function() {
        {% if layer.metadata_uploaded_preserve %}
        $('#layer_metadata_update :input').attr('readonly','readonly');
        {% endif %}
        $('.has-popover').popover({'trigger':'hover'});

        var params = typeof FILTER_TYPE == 'undefined' ? {} : {'type': FILTER_TYPE};
        $('#id_resource-keywords').tokenfield({
            /*
            autocomplete: {
                source: ['red','blue','green','yellow','violet','brown','purple','black','white'],
                delay: 100
            },
            showAutocompleteOnFocus: true
            */
        })

        $.ajax('/h_keywords_api', {params: params}).then(function(response){
            $('#treeview').treeview({
                data: response.data,
                levels: 1,
                onNodeSelected: function($event, $data) {
                    //TODO: This seems a horribly inelegant way of doing this in 12 Lines
                    kws = $('#id_resource-keywords').tokenfield('getTokens');
                    newToken = $data.text
                    exists = false 
                    for (kw in kws) {
                        if (kws[kw]['value'].indexOf(newToken) >=0) {
                            exists = true
                        }
                    }
                    if (!exists) {
                        $('#id_resource-keywords').tokenfield('createToken', $data.text);
                    }
                }
            });
        });
    });

    $(document).ready(function() {
        $('#update-metadata-top').prop('disabled', false);
        $('#update-metadata-bot').prop('disabled', false);
    });

    function addAttributeOption(link, selector, prefix) {
      // Update the "TOTAL_FORMS" value.
      var totalFormsField = $('#id_' + prefix + '-TOTAL_FORMS');
      var totalForms = parseInt($(totalFormsField).val());
      totalFormsField.val(totalForms + 1);

      // Copy the template and substitute "__id__" with the correct index.
      var template = $(link).closest('.attribute-options').find(selector).html().replace(/__id__/g, totalForms);
      $(link).closest('fieldset').append(template);
    }

    function deleteAttributeOption(link, prefix) {
      // Determine if this is an existing field with an ID and, if so, mark it for deletion and hide the row.
      var indexRegExp = new RegExp('id_' + prefix + '-(\\d+)-id');
      var match = $(link).closest('.attribute-option-form').find('input').attr('id').match(indexRegExp);
      if (match) {
        var index = match[1];

        // Create the "<form>-x-DELETE" object that Django will use to delete the object.
        var deleteElem = $('<input>')
          .attr('type', 'hidden')
          .attr('name', prefix + '-' + index + '-DELETE')
          .val('on');
        $(link).after(deleteElem);

        $(link).closest('.row').hide();
      } else {
        // This is a new option so remove the row instead.
        $(link).closest('.row').remove();
      }
    }
{% endautoescape %}
</script>
