{% load i18n %}
<nav class="filter">
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i>{% trans "Categories" %}</a></h4>
  <ul class="nav closed" id="categories">
    {% verbatim %}
      <li ng-repeat="category in categories" ng-if="category.count > 0">
        <a data-value="{{ category.identifier }}" data-filter="category__identifier__in" 
         ng-click="multiple_choice_listener($event)" class="{{category.active}}">{{ category.gn_description | limitTo: 25 }}{{ category.gn_description.length > 25 ? '...' : ''}}
          <span class="badge pull-right">{{ category.count }}</span>
        </a>
      </li>
    {% endverbatim %}
  </ul>
</nav>
<nav class="filter">
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i> {% trans "Keywords" %}</a></h4>
  <ul class="nav closed" id="keywords" ng-init="search_keywords=[]">
    {% verbatim %}
      <nav class="filter">
          <div class="input-group search-bar">
              <input name="keyword_search_input" id="keyword_search_input" ng-model="keyword_query" type="text" 
                  class="form-control">
              <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit" id="keyword_search_btn" ng-click="add_search('keywords__slug__in', keyword_query, search_keywords)"><i class="fa fa-plus">Add</i></button>
              </span>
          </div>
      </nav>
      <ul>
          <li ng-repeat="search in search_keywords">
              {{ search }}
              <span class="input-group-btn pull-right">
                  <button class="btn btn-primary" type="submit" ng-click="remove_search('keywords__slug__in', search, search_keywords)"><i class="fa fa-times"></i></button>
              </span>
          </li>
      </ul>
    {% endverbatim %}
  </ul>
</nav>
<nav class="filter">
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i>{% trans "Date" %}</a></h4>
  <ul class="nav closed" id="date_start">
    <label>{% trans "Date begins after:" %}</label>
    <li><input value="yyyy-mm-dd" data-date-format="YYYY-MM-DD" type="text" class="datepicker" placeholder="{% trans 'yyyy-mm-dd' %}" ng-model="date_query.date__gte" /></li>
  </ul>
  <ul class="nav closed" id="date_end">
    <label>{% trans "Date ends before:" %}</label>
    <li><input value="yyyy-mm-dd" data-date-format="YYYY-MM-DD" type="text" class="datepicker" placeholder="{% trans 'yyyy-mm-dd' %}" ng-model="date_query.date__lte" /></li>
  </ul>
</nav>
